{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
<nav align="center" class="menu browse by-year text-center" aria-label="year">
  <h2>Jump to:</h2>
  {% for year in postsByYear %}
  <a class="label_link" href="#{{ year.name }}">{{ year.name }}</a>
  {% endfor %}
</nav><hr>
{% for year in postsByYear %}
<h2 id="{{ year.name }}">{{ year.name }}</h2><hr>
<ul aria-label="posts from {{ year.name }}" style="list-style:none;text-align: left;">
  {% for post in year.items %}
  <li>
    {% include post/post-list-item.html %}
  </li>
  {% endfor %}
</ul>
{% endfor %}