<a id="top-icon-tablet" href="#" style="display: none;"><i class="fas fa-chevron-up fa-lg"></i></a>
<footer class="footer">
  <div class="container">
    <nav class="social">
      {% if site.github_username %}
        <a class="social__link" target="_blank" rel="noopener noreferrer" href="https://github.com/{{ site.github_username }}">
          <div class="icon">{%- include svg/icon/social/github.svg -%}</div>
        </a>
      {% endif %}
      {% if site.facebook_username %}
        <a class="social__link" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/{{ site.facebook_username }}">
          <div class="icon">{%- include svg/icon/social/facebook.svg -%}</div>
        </a>
      {% endif %}
      {% if site.twitter_username %}
        <a class="social__link" target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/{{ site.twitter_username }}">
          <div class="icon">{%- include svg/icon/social/twitter.svg -%}</div>
        </a>
      {% endif %}
      {% if site.instagram_username %}
        <a class="social__link" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/{{ site.instagram_username }}">
          <div class="icon">{%- include svg/icon/social/instagram.svg -%}</div>
        </a>
      {% endif %}
      {% if site.RSS %}
        <a href="{{ site.url }}/feed.xml"><img width="16" height="16" src="{{ '/assets/img/icons/RSS.png' | relative_url }}"></a>&nbsp;&nbsp;
      {% endif %}
        <a class="social__link" rel="noopener noreferrer" href="/logs">
          <div class="icon"><img src="\assets\img\icons\logs.png" alt="LOGS"></div>
        </a>
    </nav>
    <span>&copy;2020 {{ site.title | escape }}</a></span><br>
  </div>
</footer>
<script async src="{{ "/assets/js/bundle.js" | relative_url }}"></script>
<script src="/assets/js/prism.js"></script>
<link rel="stylesheet" href="/assets/css/prism.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  $(document).ready(function() {
    $("code").removeClass('language-plaintext');
    /* 回到頂端 */
      $(window).scroll(function(){
          if ($(this).scrollTop() > 200) {
              $('#top-icon-tablet').fadeIn();
          } else {
              $('#top-icon-tablet').fadeOut();
          }
      });

      $('#top-icon-tablet').click(function(){
          $('html, body').animate({scrollTop : 0}, 800);
          return false;
      });
  });
</script>
{% if site.service_worker %}
<script async>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('{{ "/sw.js" | relative_url }}').then(function( registration ) {
      console.log('ServiceWorker registration successful with scope: ', registration.scope);
    })
    .catch(function(error) {
      console.log('ServiceWorker registration failed: ', error);
    });
  }
</script>
{% endif %}
