$primary: #277cea !default;
$secondary: #ff6161 !default;
$border: #ededed !default;
$primary-light: #68a4f1;
$reverse: #3c3d41 !default;
$success: #8fd896 !default;
$error: #ff6161 !default;

$bg-color: #fff !default;
$light-bg-color: #f9f9f9;
$text-color: #343851;
$heading-color: #313237;
$link-color: $primary;
$button-dark: #222325;
$dark-light: #313237;
$outline: #dbdbdb;
$grey: #838c8d;
//notice
$gray: #7a8288 !default;
$dark-gray: mix(#000, $gray, 50%) !default;
$darker-gray: mix(#000, $gray, 60%) !default;
$light-gray: mix(#fff, $gray, 50%) !default;
$lighter-gray: mix(#fff, $gray, 90%) !default;

$type-size-6: 1em !default; // ~12px
$border-radius: 4px !default;

$primary-color: #6f777d !default;
$success-color: #3fa63f !default;
$warning-color: #d67f05 !default;
$danger-color: #ee5f5b !default;
$info-color: #3b9cba !default;
$focus-color: $primary-color !default;
$active-color: mix(#fff, $primary-color, 80%) !default;

$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;

// Breakpoints
$xs: 0;
$sm: 36em; //576px
$md: 48em; //768px
$lg: 62em; //992px
$xl: 75em; //1200px

// Code
$code-bg-color: #f9f2f4 !default;
$code-text-color: #c7254e !default;

// Borders
$border-color: #dce6f0 !default;
